body            { font-family: sans-serif; background: #e8e8e8; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #d4d4d4; }
h2              { font-size: 1.2em; }
a               { text-decoration: none; letter-spacing: 1px; font-size: 18px;
                  font-family: 'Georgia', sans-serif; }
hr              { border: none; color: #e8e8e8; background-color: #e8e8e8; height: 2px; }
textarea        { width: 400px; height: 80%; }
.new_card       { width: 900px; }
.marc           { font-size: 30px; }
a.excel          { color: black;  text-decoration: underline; font-size: 16px;
                  font-family: 'Georgia', sans-serif; }
li.excel        { color: #117444; }

.page           { margin: 1em auto; width:60em; border: 5px solid #ccc;
                  padding: 0.8em; background: #d4d4d4; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }


#sidebar {
  float:left;
  width: 500px;
  height: 800px;
}

#columns {
    display: table;
    width: 100%;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
    margin-left: 0;
    margin-right: 0;
}

#columns > div,
#columns > noindex > div {
    display: table-cell;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
}
