{% extends "layout.html" %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<p>• <a href="/list/0">К списку книг</a> • <a href="/">На стартовую страницу</a> • <br />
    <table align="center">
    <tr><td>№ страницы: </td><td>Несделанных карточек:</td></tr>
    {% for book in books %}
        <tr><td><a href="/list/{{ book[1] }}">{{ book[1] }}</a></td><td>{{ book[0] }}</td></tr>
    {% endfor %}
    </table>
<br /><br />

<button title="Click to show/hide content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Показать/Скрыть диаграмму</button>
 <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Номер страницы', 'Количество несделанных карточек'],
     {% for book in books %}
     ['{{ book[1] }}', {{ book[0] }}],
     {% endfor %}
     ['48', 0]
    ]);
    var options = {
     hAxis: {title: 'Номер страницы'},
     vAxis: {title: 'Число несделанных карточек'}
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('spoiler'));
    chart.draw(data, options);
   }
  </script> <br />
<div id="spoiler" style="display:none; width: 800px; height: 200px;">     </div>
{% endblock %}source