{% extends "layout.html" %}
{% block body %}
  {% for book,excel  in mybooks %}
    <h1>{{ excel[1] }},  « {{ excel[2] }} »</h1>
        <h2>Номер {{ excel[0] }}, {{ excel[3] }}, файл: {{ excel[5] }}, {{ excel[6] }}</h2>
          <h2>Cделать карточку по-литресовски:</h2>
      <div><form action='/update/{{ excel[0] }}' method="post"><textarea class="new_card" name="card_lines" rows="30">{% for longcard in litrescard  %}{{ longcard.field }}  {{ longcard.info }}
{% endfor %}</textarea>
        {{ form.submit(value="Одобрить карточку:!") }}</form>
      </div>
      <br/>
    <div id="columns">
      {% for card in book %}
        <div id="sidebar">
          <form method="post" action='/copy/{{ excel[0] }}'><table>
              <tr>
                <td><textarea name="card_lines"  rows="50">{% for strcard in card %}{{ strcard.field }}  {{ strcard.info }}
{% endfor %}</textarea></td>
              </tr>
          </table>
          {{form.copy(value="Копировать карточку!")}}</form>
        </div>
      {% endfor %}
    </div>
    <br />
    <hr>
  {% endfor %}
{% endblock %}
