{% extends "layout.html" %}
{% block body %}
{% for e in excel %}
  {{ e[0] }} {{ e[1] }} {{ e[2] }}
{% endfor %}
  {% for book, thelongestcard, excel in mybooks %}
    <h1>{{ excel[0] }}, {{ excel[1] }},  « {{ excel[2] }} », {{ excel[3] }}</h1>
          <h1>Cделать карточку по-литресовски:</h1>
      <div><form action='/update/{{ excel[0] }}'><textarea name="card_lines" rows="50">{% for longcard in litrescard  %}{{ longcard.field }}  {{ longcard.info }}
{% endfor %}</textarea>
        {{ form.submit(value="Одобрить карточку:!") }}</form>
      </div>
      <br/>
    <div id="columns">
      {% for card in book %}
        <div id="sidebar">
          <form method="post"><table>
              <tr>
                <td><textarea width="100" rows="50">{% for strcard in card %}{{ strcard.field }}  {{ strcard.info }}
{% endfor %}</textarea>{{ form.hidden(value=card) }}</td>
              </tr>
          </table>
          {{form.copy(value="Копировать карточку!")}}</form>
        </div>
      {% endfor %}
    </div>
    <br />
    <hr>
  {% endfor %}
{% endblock %}
