{% extends "layout.html" %}
{% block body %}
  {% for book, thelongestcard, excel in mybooks %}
    <h1>{{ excel[0] }}, {{ excel[1] }},  « {{ excel[2] }} », {{ excel[3] }}</h1>
          <h1>Cделать карточку по-литресовски:</h1>
      <div><form><table>
          {% for longcard in thelongestcard|sort %}
            <tr>
              <td>{{ longcard.field }}</td>
              <td>{{ form.litres(value=longcard.info) }}</td></tr>
          {% endfor %}
        </table>
        {{ form.submit(value="Одобрить карточку!") }}{{ form.hidden(value=thelongestcard[1]) }}</form>
      </div>
      <br/>
    <div id="columns">
      {% for card in book %}
        <div id="sidebar">
          <form method="post"><table>
            {% for cardstr in card|sort %}
              <tr>
                <td>{{ cardstr.field }}</td>
                <td>{{ form.name(value=cardstr.info) }}{{ form.hidden(value=cardstr.num) }}</td>
              </tr>
            {% endfor %}
          </table>
          {{form.copy(value="Копировать карточку!")}}</form>
        </div>
      {% endfor %}
    </div>
    <br />
    <hr>
  {% endfor %}
{% endblock %}